<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleName</key>
  <string>fre:ac</string>
  <key>CFBundleDisplayName</key>
  <string>fre:ac - free audio converter</string>
  <key>CFBundleSpokenName</key>
  <string>freak</string>
  <key>CFBundleExecutable</key>
  <string>freac</string>
  <key>CFBundleIdentifier</key>
  <string>org.freac.freac</string>
  <key>CFBundleIconFile</key>
  <string>freac.icns</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleSignature</key>
  <string>f:ac</string>
  <key>CFBundleVersion</key>
  <string>1.1.5.5562</string>
  <key>CFBundleShortVersionString</key>
  <string>1.1.5a</string>
  <key>LSBackgroundOnly</key>
  <false/>
  <key>LSMinimumSystemVersion</key>
  <string>10.5.0</string>
  <key>LSEnvironment</key>
  <dict>
   <key>SYSTEM_VERSION_COMPAT</key>
   <string>0</string>
  </dict>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSRequiresAquaSystemAppearance</key>
  <false/>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2001-2021 Robert Kausch</string>
  <key>CFBundleDocumentTypes</key>
  <array>
   <dict>
    <key>CFBundleTypeName</key>
    <string>Audio Files</string>
    <key>CFBundleTypeRole</key>
    <string>Viewer</string>
    <key>LSItemContentTypes</key>
    <array>
     <string>public.audio</string>
     <string>public.aiff-audio</string>
     <string>public.aifc-audio</string>
     <string>public.mp3</string>
     <string>public.mpeg-4-audio</string>
     <string>com.apple.m4a-audio</string>
     <string>com.microsoft.waveform-audio</string>
     <string>com.monkeysaudio.ape</string>
     <string>com.wavpack.wv-audio</string>
     <string>net.musepack.mpc-audio</string>
     <string>org.xiph.ogg</string>
     <string>org.xiph.flac</string>
     <string>org.xiph.opus</string>
     <string>org.xiph.speex</string>
     <string>org.xiph.vorbis</string>
     <string>de.thbeck.tak</string>
    </array>
   </dict>
   <dict>
    <key>CFBundleTypeName</key>
    <string>Cue Sheets</string>
    <key>CFBundleTypeRole</key>
    <string>Viewer</string>
    <key>LSItemContentTypes</key>
    <array>
     <string>org.freac.cuesheet</string>
    </array>
   </dict>
   <dict>
    <key>CFBundleTypeName</key>
    <string>CD Tracks</string>
    <key>CFBundleTypeRole</key>
    <string>Viewer</string>
    <key>LSItemContentTypes</key>
    <array>
     <string>org.freac.cdda</string>
    </array>
   </dict>
  </array>
  <key>UTImportedTypeDeclarations</key>
  <array>
   <dict>
    <key>UTTypeIdentifier</key>
    <string>org.xiph.ogg</string>
    <key>UTTypeDescription</key>
    <string>Ogg Audio</string>
    <key>UTTypeConformsTo</key>
    <string>public.audio</string>
    <key>UTTypeTagSpecification</key>
    <dict>
     <key>public.mime-type</key>
     <string>audio/ogg</string>
     <key>public.filename-extension</key>
     <array>
      <string>ogg</string>
      <string>oga</string>
     </array>
    </dict>
   </dict>
   <dict>
    <key>UTTypeIdentifier</key>
    <string>org.xiph.flac</string>
    <key>UTTypeDescription</key>
    <string>FLAC Audio</string>
    <key>UTTypeConformsTo</key>
    <string>public.audio</string>
    <key>UTTypeTagSpecification</key>
    <dict>
     <key>public.mime-type</key>
     <array>
      <string>audio/flac</string>
      <string>audio/x-flac</string>
     </array>
     <key>public.filename-extension</key>
     <string>flac</string>
    </dict>
   </dict>
   <dict>
    <key>UTTypeIdentifier</key>
    <string>org.xiph.opus</string>
    <key>UTTypeDescription</key>
    <string>Opus Audio</string>
    <key>UTTypeConformsTo</key>
    <array>
     <string>public.audio</string>
     <string>org.xiph.ogg</string>
    </array>
    <key>UTTypeTagSpecification</key>
    <dict>
     <key>public.mime-type</key>
     <string>audio/opus</string>
     <key>public.filename-extension</key>
     <string>opus</string>
    </dict>
   </dict>
   <dict>
    <key>UTTypeIdentifier</key>
    <string>org.xiph.speex</string>
    <key>UTTypeDescription</key>
    <string>Speed Audio</string>
    <key>UTTypeConformsTo</key>
    <array>
     <string>public.audio</string>
     <string>org.xiph.ogg</string>
    </array>
    <key>UTTypeTagSpecification</key>
    <dict>
     <key>public.mime-type</key>
     <array>
      <string>audio/speex</string>
      <string>audio/x-speex</string>
     </array>
     <key>public.filename-extension</key>
     <string>spx</string>
    </dict>
   </dict>
   <dict>
    <key>UTTypeIdentifier</key>
    <string>org.xiph.vorbis</string>
    <key>UTTypeDescription</key>
    <string>Vorbis Audio</string>
    <key>UTTypeConformsTo</key>
    <array>
     <string>public.audio</string>
     <string>org.xiph.ogg</string>
    </array>
    <key>UTTypeTagSpecification</key>
    <dict>
     <key>public.mime-type</key>
     <string>audio/vorbis</string>
     <key>public.filename-extension</key>
     <string>ogg</string>
    </dict>
   </dict>
   <dict>
    <key>UTTypeIdentifier</key>
    <string>com.monkeysaudio.ape</string>
    <key>UTTypeDescription</key>
    <string>Monkey's Audio</string>
    <key>UTTypeConformsTo</key>
    <string>public.audio</string>
    <key>UTTypeTagSpecification</key>
    <dict>
     <key>public.filename-extension</key>
     <string>ape</string>
    </dict>
   </dict>
   <dict>
    <key>UTTypeIdentifier</key>
    <string>com.wavpack.wv-audio</string>
    <key>UTTypeDescription</key>
    <string>WavPack Audio</string>
    <key>UTTypeConformsTo</key>
    <string>public.audio</string>
    <key>UTTypeTagSpecification</key>
    <dict>
     <key>public.filename-extension</key>
     <string>wv</string>
    </dict>
   </dict>
   <dict>
    <key>UTTypeIdentifier</key>
    <string>net.musepack.mpc-audio</string>
    <key>UTTypeDescription</key>
    <string>Musepack Audio</string>
    <key>UTTypeConformsTo</key>
    <string>public.audio</string>
    <key>UTTypeTagSpecification</key>
    <dict>
     <key>public.mime-type</key>
     <array>
      <string>audio/musepack</string>
      <string>audio/x-musepack</string>
     </array>
     <key>public.filename-extension</key>
     <string>mpc</string>
    </dict>
   </dict>
   <dict>
    <key>UTTypeIdentifier</key>
    <string>de.thbeck.tak</string>
    <key>UTTypeDescription</key>
    <string>TAK Audio</string>
    <key>UTTypeConformsTo</key>
    <string>public.audio</string>
    <key>UTTypeTagSpecification</key>
    <dict>
     <key>public.filename-extension</key>
     <string>tak</string>
    </dict>
   </dict>
  </array>
  <key>UTExportedTypeDeclarations</key>
  <array>
   <dict>
    <key>UTTypeIdentifier</key>
    <string>org.freac.cuesheet</string>
    <key>UTTypeDescription</key>
    <string>Cue Sheet</string>
    <key>UTTypeConformsTo</key>
    <string>public.plain-text</string>
    <key>UTTypeTagSpecification</key>
    <dict>
     <key>public.mime-type</key>
     <string>application/x-cue</string>
     <key>public.filename-extension</key>
     <string>cue</string>
    </dict>
   </dict>
   <dict>
    <key>UTTypeIdentifier</key>
    <string>org.freac.cdda</string>
    <key>UTTypeDescription</key>
    <string>CD Track</string>
    <key>UTTypeConformsTo</key>
    <string>public.audio</string>
    <key>UTTypeTagSpecification</key>
    <dict>
     <key>com.apple.ostype</key>
     <string>AIFC</string>
     <key>public.filename-extension</key>
     <string>cdda</string>
    </dict>
   </dict>
  </array>
 </dict>
</plist>
