#include <windows.h>
#include "../include/resources.h"

IDR_VERSION		VERSIONINFO
  FILEVERSION		1,0,29,986
  PRODUCTVERSION	1,0,29,986
  FILEOS		VOS_NT_WINDOWS32
  FILETYPE		VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004B0"	// Block: language ID = Multilingual, char set = Unicode
        BEGIN
            VALUE	"FileDescription",	"fre:ac - free audio converter\0"
            VALUE	"FileVersion",		"1.0.29.986\0"
            VALUE	"InternalName",		"FREAC\0"
            VALUE	"OriginalFilename",	"freac.exe\0"
            VALUE	"ProductName",		"fre:ac\0"
            VALUE	"ProductVersion",	"1.0.29\0"
            VALUE	"LegalCopyright",	"Copyright © 2001-2017 Robert Kausch\0"
            VALUE	"Official website",	"http://www.freac.org/\0"
         END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE	"Translation", 0x0000, 1200
    END
END

IDI_ICON ICON MOVEABLE PURE LOADONCALL DISCARDABLE "resources/binary/freac.ico"
