#include <windows.h>
#include "../include/resources.h"

IDR_VERSION		VERSIONINFO
  FILEVERSION		1,1,0,1601
  PRODUCTVERSION	1,1,0,1601
  FILEOS		VOS_NT_WINDOWS32
  FILETYPE		VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004B0"	// Block: language ID = Multilingual, char set = Unicode
        BEGIN
            VALUE	"FileDescription",	"BonkEnc Audio Encoder\0"
            VALUE	"FileVersion",		"1.1.0.1601\0"
            VALUE	"InternalName",		"BONKENC\0"
            VALUE	"OriginalFilename",	"bonkenc.exe\0"
            VALUE	"ProductName",		"BonkEnc\0"
            VALUE	"ProductVersion",	"1.1\0"
            VALUE	"LegalCopyright",	"Copyright © 2001-2010 Robert Kausch\0"
            VALUE	"Official website",	"http://www.bonkenc.org/\0"
         END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE	"Translation", 0x0000, 1200
    END
END

IDI_ICON ICON MOVEABLE PURE LOADONCALL DISCARDABLE "resources/binary/bonkenc.ico"
